<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      PUSHTIDA ORGANICS
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>





<ion-content>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/imgs/2.jpg" class="imgsss">
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/1.jpg" class="imgsss">
    </ion-slide>

    <ion-slide>
      <img src="assets/imgs/3.jpg" class="imgsss">
    </ion-slide>

    <ion-slide>
      <img src="assets/imgs/4.jpg" class="imgsss">
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/5.jpg" class="imgsss">
    </ion-slide>
  </ion-slides>


  <div class="card-part">

    <h1>BEST SELLER</h1>

    <ion-row>
      <ion-col col-6>
        <ion-card class="b-seller-card">
          <img src="assets/imgs/card1.jpg">
          <p>Radico organic hair treatment power 100gm</p>
          <ion-button size="small" class="add-button">Add to cart <ion-icon name="cart"></ion-icon>
          </ion-button>
        </ion-card>

      </ion-col>

      <ion-col col-6>
        <ion-card class="b-seller-card">
          <img src="assets/imgs/card2.jpg">
          <p>Radico organic hair treatment power 100gm</p>
          <ion-button size="small" class="add-button">Add to cart <ion-icon name="cart"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-col>
      
    </ion-row>

    <ion-row>
        <ion-col col-6>
          <ion-card class="b-seller-card">
            <img src="assets/imgs/card3.jpg">
            <p>Radico organic hair treatment power 100gm</p>
            <ion-button size="small" class="add-button">Add to cart <ion-icon name="cart"></ion-icon>
            </ion-button>
          </ion-card>
  
        </ion-col>
  
        <ion-col col-6>
          <ion-card class="b-seller-card">
            <img src="assets/imgs/card4.jpg">
            <p>Radico organic hair treatment power 100gm</p>
            <ion-button size="small" class="add-button">Add to cart <ion-icon name="cart"></ion-icon>
            </ion-button>
          </ion-card>
        </ion-col>
        
      </ion-row>








      <h1>POPUlAR</h1>

      <ion-row>
        <ion-col col-6>
          <ion-card class="b-seller-card">
            <img src="assets/imgs/card5.jpg">
            <p>Radico organic hair treatment power 100gm</p>
            <ion-button size="small" class="add-button">Add to cart <ion-icon name="cart"></ion-icon>
            </ion-button>
          </ion-card>
  
        </ion-col>
  
        <ion-col col-6>
          <ion-card class="b-seller-card">
            <img src="assets/imgs/card6.jpg">
            <p>Radico organic hair treatment power 100gm</p>
            <ion-button size="small" class="add-button">Add to cart <ion-icon name="cart"></ion-icon>
            </ion-button>
          </ion-card>
        </ion-col>
        
      </ion-row>
  
      <ion-row>
          <ion-col col-6>
            <ion-card class="b-seller-card">
              <img src="assets/imgs/card7.jpg">
              <p>Radico organic hair treatment power 100gm</p>
              <ion-button size="small" class="add-button">Add to cart <ion-icon name="cart"></ion-icon>
              </ion-button>
            </ion-card>
    
          </ion-col>
    
          <ion-col col-6>
            <ion-card class="b-seller-card">
              <img src="assets/imgs/card8.jpg">
              <p>Radico organic hair treatment power 100gm</p>
              <ion-button size="small" class="add-button">Add to cart <ion-icon name="cart"></ion-icon>
              </ion-button>
            </ion-card>
          </ion-col>
          
        </ion-row>





  </div>










</ion-content>